body {
  font-family:BlinkMacSystemFont, "Lucida Grande", "Segoe UI", Ubuntu;
  text-align: center;
}

#left-section {
  /*background-color: red;*/
  width:400px;
  position: absolute;
  left: 0;
  height: 570px;
  top: 0px;
}

#right-section {
  /*background-color: blue;*/
  border-left: solid lightgray 3px;
  width:400px;
  position: absolute;
  right: 0;
  height: 570px;
  top: 0px;
}

#button-area {
  position: absolute;
  top: 50px;
  left: 10px;
}

#script-textarea {
  width: 100%;
  height: 448px;
  top: 100px;
  position: absolute;
  left: 0;
  font-size: 17px;
  border: lightgray;
}

#footer {
  background-color: rgb(245, 245, 245);
  color: rgb(56, 56, 56);
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30px;
  left: 0px;
}

h1 {
  left: 10px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10px;
  font-size: 21px;
  color: rgb(60, 100, 195);
  font-weight: 600;
  line-height: 30px;
}

#hubot-output {
  /*background-color: green;*/
  width: 94%;
  padding-right: 15px;
  text-align: left;
  flex-grow: 1;
  overflow: scroll;
  font-size: 1.5em;
  border: none;
  font-family: monospace;
  position:absolute;
  color: black;
  top:50px;
  left:5px;
  right:5px;
  height:415px;
}

#bottom-section {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 100px;
}

#hint {
  text-align: left;
  font-style: italic;
  opacity: 0.8;
  margin-left: 20px;
  margin-top: 10px;
  color: rgb(56, 56, 56);
}

#input-area {
  font-size: 1.5em;
  overflow: scroll;
  border: none;
  text-align: left;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
}

#load-new-button {
  float: left;
  margin-top: 10px;
  font-size: 0.6em;
}

#hubot-input {
  padding-left: 10px;
  float: left;
  font-size: 1em;
  overflow: scroll;
  border: none;
  text-align: left;
  margin-left: 5px;
  font-family: monospace;
  width: 75%;
}

#send-button {
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 0.6em;
}

.output-row {
  padding-top: 10px;
}

.hubot-message {
  white-space: pre-wrap;
  padding-top: 10px;
  display: table-cell;
}

.hubot-avatar {
  vertical-align: top;
  display: table-cell;
  width: 70px;
}

.user-message {
  white-space: pre-wrap;
  padding-top: 10px;
  display: table-cell;
}

.user-avatar {
  vertical-align: top;
  display: table-cell;
  width: 70px;
}
